<h1>LandingPages#index</h1>
<p>Find me in app/views/landing_pages/index.html.erb</p>

<div class="container-fluid">
  <div class="row">
    <% @articles.each do |article| %>
    <article><h1><%= article.title %></h1></article>
    <% end %>
  </div>

<div class="row">
<% @articles.each do |article| %>
<div class="card" style="width: 18rem;">
      <%= image_tag(article.image_url, class: "img-fluid card-img-top") %>
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.description.first(160) %></p>
        <%= link_to "Read full article", article %>
      </div>
</div>
<% end %>
</div>

</div><!-- container end -->
